@model QuestionFormServiceModel

@{
    ViewData["Title"] = "Edit question";
}

<h2>Edit @Model.Title question</h2>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            
            @foreach (var answerOption in Model.AnswerOptions)
            {
                <div class="form-group">
                    <div class="input-group">
                        <label asp-for="AnswerOptions"></label>

                        <div class="input-group">
                            <div class="input-group">
                                <input 
                                    type="text" 
                                    style="width: 320px" 
                                    class="form-control answerOption" 
                                    id="AnswerOptions" 
                                    name="AnswerOptions" 
                                    value="@answerOption.Text" 
                                    maxlength="50">

                                <span class="input-group-btn">
                                    @if (Model.AnswerOptions.Count > 2)
                                    {
                                        <a class="btn btn-default" data-toggle="modal" data-target="#modal-@answerOption.Id">
                                            <span class="glyphicon glyphicon-remove" style="color: red"></span>
                                        </a>
                                    }
                                    else
                                    {
                                        <a class="btn btn-default" disabled data-toggle="modal" >
                                            <span class="glyphicon glyphicon-remove" style="color: red"></span>
                                        </a>
                                    }

                                                
                                </span>
                            </div>
                        </div>

                        <input type="hidden" value="@answerOption.Id" name="answerOptionsIds" />
                        <span asp-validation-for="AnswerOptions" class="text-danger"></span>
                    </div>
                </div>

                <div 
                    class="modal fade" 
                    id="modal-@answerOption.Id" 
                    tabindex="-1" 
                    role="dialog" 
                    aria-labelledby="exampleModalLabel" 
                    aria-hidden="true">

                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 
                                    class="modal-title" 
                                    id="exampleModalLabel">

                                    Delete answer "@answerOption.Text"...
                                </h3>
                                <button 
                                    type="button" 
                                    class="close" 
                                    data-dismiss="modal" 
                                    aria-label="Close">

                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Are you sure you want to delete this answer option?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <input 
                                        type="submit" 
                                        asp-controller="Answers" 
                                        asp-action="Delete" 
                                        asp-route-id="@answerOption.Id" 
                                        asp-route-questionId="@Model.Id" 
                                        value="Yes, delete it." 
                                        class="btn btn-primary" />
                                    
                            </div>
                        </div>
                    </div>
                </div>
            }

            <span class="btn btn-default addAnswerOption">Add answer option</span>
            <button type="submit" class="btn btn-primary save">Save changes</button>
        </form>
    </div>
</div>



@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script>
        var answerOption = `
            <div class="form-group">
                <label for="AnswerOptions">AnswerOptions</label>
                <input class="form-control" type="text" id="AnswerOptions" name="AnswerOptions" value="">
                <span class="text-danger field-validation-valid" data-valmsg-for="AnswerOptions" data-valmsg-replace="true"></span>
            </div>`;

        $(document).ready(function () {
            $('.addAnswerOption').on('click', function () {
                $(this).before(@Html.Raw("answerOption"));
            })
            
            $('input:text').keyup(function () {
                var answers = $('.answerOption');
                for (var i = 0; i < answers.length; i++) {
                    var count = 0;
                    if (answers[i].value == "") {
                        count++;
                        console.log(count);
                    }
                }
                if (count > 0) {
                    console.log("disabled");
                    $('.save').attr('disabled', true);
                } else {
                    $('.save').attr('disabled', false);
                }
            });
        });
    </script>
}