@model PollCompleteServiceModel

@{
    ViewData["Title"] = Model.Name;
    Layout = "_CompleteLayout";
}

<div class="row text-center" style="margin:auto;display:table;max-width: 800px">
    <div class="col-sm-12">
        <h1 class="text-center" style="text-decoration: underline">@ViewData["Title"] Survey</h1><br />

        <form method="post">
            <input type="hidden" value="@Model.Id" name="pollId" />
            @foreach (var question in Model.Questions)
            {
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h2 class="panel-title">@question.Title</h2>
                    </div>
                    <div class="panel-body">
                        @foreach (var answer in question.AnswerOptions)
                        {
                            <span class="text-primary" style="font-size: 22px">@answer.Text</span>
                            <input name="@question.Title-@question.Id" value="@answer.Id" type="radio" /><br />
                        }
                    </div>
                </div>
                

                
            }
            <button type="submit" class="btn btn-primary complete">Complete survey</button>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            var questions = @Model.Questions.ToList().Count;
            $('input:radio').change(function () {
                var answers = $('input:radio');
                var count = 0;
                for (var i = 0; i < answers.length; i++) {
                    if (answers[i].checked) {
                        count++;
                    }
                }
                if (count < questions) {
                    $('.complete').attr('disabled', true);
                } else {
                    $('.complete').attr('disabled', false);
                }
            });
        });
    </script>
}