@model PollDetailsServiceModel
@{
    ViewData["Title"] = $"{Model.Name} poll details";
}
<div class="row">
    <div class="col-md-6">
        <br />
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Poll name</h3>
            </div>
            <div class="panel-body">
                @Model.Name
            </div>
        </div>

        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Description</h3>
            </div>
            <div class="panel-body">
                @Model.Description
            </div>
        </div>

        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Url for share</h3>
            </div>
            <div class="panel-body">
                <input type="text" value="@Context.Request.Host/welcome/@Model.UrlToken" class="form-control text-center" />
            </div>
        </div>

        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Users completed poll</h3>
            </div>
            <div class="panel-body">
                @Model.UsersCompleted
            </div>
        </div>

        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Questions count</h3>
            </div>
            <div class="panel-body">
                @Model.Questions.ToList().Count
            </div>
        </div>






        @if (Model.Questions.ToList().Count > 0)
        {
            <h2 class="text-info">Questions statistics:</h2>
        }

        @foreach (var question in Model.Questions)
        {
            <h3>@question.Title</h3>
            <ul class="list-group">
                @foreach (var answer in question.AnswerOptions)
                {
                    <li class="list-group-item">                        
                        @answer.Text
                        <span class="badge">@answer.Votes votes</span>
                    </li>
                }
            </ul>
        }
        </div>
</div>