@model IEnumerable<PollListingsServiceModel>

@{
    ViewData["title"] = "Polls admin";
}

<h2>@ViewData["title"]</h2>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Users completed
            </th>
            <th>
                Author
            </th>
            <th>
                Number of questions
            </th>
            <th>
                Edit
            </th>
            <th>
                Delete
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var poll in Model)
        {
            <tr>
                <td>
                    @poll.Name
                </td>
                <td>
                    @poll.UsersCompleted
                </td>
                <td>
                    @poll.Author
                </td>
                <td>
                    @poll.QuestionsCount
                </td>
                <td>
                    <a asp-area="" asp-controller="Polls" asp-action="Edit" asp-route-id="@poll.Id" class="btn btn-primary">Edit</a>
                </td>
                <td>
                    <form method="post" asp-area="" asp-controller="Polls" asp-action="Delete">
                        <input type="hidden" name="id" value="@poll.Id" />
                        <input type="submit" value="Delete" class="btn btn-danger" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

